.test__container{
  form{
    width: 70%;

    .question_container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      .q_cont{
        width: 100%;
      }
    }
  }
}