@import './../../Constants.scss';

*{
    outline: none;
}
.slick-track{
    display: flex;
        align-items: center;
}
.slick-slide{
    padding: 0 50px;
}
 
.slider{
    background: url('./../Images/line_solar-system.png');
    background-repeat: no-repeat;

    h2{
        @include header_2();
    }

    .slider__item{

        h4{
            width: 100%;
            text-align: center;
            font-weight: lighter;
            font-size: 20px;
            color: #D2D2D2;
            margin-bottom: 15px;
        }

        img{
            margin: 0;
        }
    }
}

