
.card_cont{
    width: 25%;
    height: 300px;
    overflow: hidden;

    .card{
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.6s all;
        
        &:hover{
            transform: scale(1.2);
        }
    }
    @media screen{
        @media (max-width: 1200px){
            width: 33%;
        }

        @media (max-width: 800px){
            width: 50%;
        }

        @media (max-width: 500px){
            width: 100%;
        }
    }
}