@charset "UTF-8";
.account__container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 150px 0;
}

.account__container h2 {
  width: 60%;
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: lighter;
  margin-bottom: 60px;
  padding-bottom: 30px;
  text-align: left;
}

@media screen and (max-width: 650px) {
  .account__container h2 {
    padding: 50px 0;
  }
}

.account__container .account__cont {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 46px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px 80px 10px;
  background-color: rgba(12, 12, 12, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.account__container .account__cont .button_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account__container .account__cont .button_row .button_secondary {
  text-decoration: none;
  color: #B9B9B9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.account__container .account__cont .button_row .button_secondary:hover {
  color: #e3e3e3;
}

.account__container .account__cont .form__container {
  width: 100%;
}

.account__container .account__cont .form__container h2 {
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: lighter;
  margin-bottom: 60px;
  padding: 100px 100px 50px 100px;
  margin-bottom: 60px;
  text-align: left;
}

@media screen and (max-width: 650px) {
  .account__container .account__cont .form__container h2 {
    padding: 50px 0;
  }
}

.account__container .account__cont .form__container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.account__container .account__cont .form__container .row .radio_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .account__container .account__cont .form__container .row .radio_cont {
    width: 100%;
  }
}

.account__container .account__cont .form__container .row .radio_cont .input_name {
  font-size: 18px;
  font-weight: 600;
  color: #82ED2E;
}

.account__container .account__cont .form__container .row .radio_cont .radio_labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.account__container .account__cont .form__container .row .radio_cont .radio_labels input {
  position: absolute;
  opacity: 0;
  сursor: pointer;
}

.account__container .account__cont .form__container .row .radio_cont .radio_labels label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: rgba(222, 222, 222, 0.89);
}

.account__container .account__cont .form__container .row .radio_cont .radio_labels span {
  border: 1px solid rgba(222, 222, 222, 0.89);
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgba(222, 222, 222, 0.89);
  border-radius: 50%;
}

.account__container .account__cont .form__container .row .radio_cont .radio_labels label input:checked ~ span {
  background-color: #82ED2E;
}

.account__container .account__cont .form__container .row .radio_cont .radio_labels span:after {
  content: "";
  position: absolute;
  display: none;
}

.account__container .account__cont .form__container .row .radio_cont .radio_labels label input:checked ~ span:after {
  display: block;
}

.account__container .account__cont .form__container .row .column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 8px;
}

.account__container .account__cont .form__container .row .column a {
  color: #82ED2E;
  text-decoration: none;
}

.account__container .account__cont .form__container .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.account__container .account__cont .form__container .column p {
  font-size: 18px;
  font-weight: 600;
  color: #82ED2E;
}

.account__container .account__cont .form__container .column input {
  padding: 20px;
  background: none;
  border: 1px solid #ffffff65;
  color: rgba(222, 222, 222, 0.89) !important;
}

.account__container .account__cont .form__container .column input[type=date]::-webkit-calendar-picker-indicator {
  background: url("./img/calendar-icon.png") no-repeat center;
  background-size: contain;
}

.account__container .account__cont .form__container h2 {
  padding: 50px 100px 50px 100px;
  margin-bottom: 0;
  text-align: center;
}

.account__container .account__cont .form__container .button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.account__container .account__cont .form__container .button_container .button {
  width: auto;
}

.account__container .account__cont .account {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 0;
}

.account__container .account__cont .account .info_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  gap: 20px;
}

.account__container .account__cont .account .info_block h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: lighter;
  margin-bottom: 60px;
  text-align: start;
  margin: 0 0 10px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.36);
}

.account__container .account__cont .account .info_block .div_result .text_result, .account__container .account__cont .account .info_block div_result .text_result {
  color: rgba(222, 222, 222, 0.89);
  font-size: 18px;
}

.account__container .account__cont .account .info_block .div_result img, .account__container .account__cont .account .info_block div_result img {
  margin-top: 20px;
  width: 100%;
  border-radius: 20px;
}

.account__container .account__cont .account .info_block .div_result .button_container, .account__container .account__cont .account .info_block div_result .button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.account__container .account__cont .account .info_block .div_result .button_container .button, .account__container .account__cont .account .info_block div_result .button_container .button {
  width: auto;
}

.account__container .account__cont .account .info_block .div_result_none {
  display: none;
}

.account__container .account__cont .account .info_block form {
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 26px;
}

.account__container .account__cont .account .info_block form .row_gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  color: rgba(222, 222, 222, 0.89);
  font-weight: 600;
}

.account__container .account__cont .account .info_block form .row_gender .input_name {
  font-size: 18px;
  color: #82ED2E;
}

.account__container .account__cont .account .info_block form .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.account__container .account__cont .account .info_block form .column p {
  font-size: 18px;
  font-weight: 600;
  color: #82ED2E;
}

.account__container .account__cont .account .info_block form .column input {
  padding: 20px;
  background: none;
  border: 1px solid #ffffff65;
  color: rgba(222, 222, 222, 0.89);
}

.account__container .account__cont .account .info_block form .column input[type=date]::-webkit-calendar-picker-indicator {
  background: url("./img/calendar-icon.png") no-repeat center;
  background-size: contain;
}

.account__container .account__cont .account .info_block form .row_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.account__container .account__cont .account .info_block form .row_button .button {
  width: auto;
}

.account__container form {
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.account__container form .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .account__container form .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}

.test__container {
  width: 100%;
  padding: 60px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.test__container h2 {
  width: 70%;
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: lighter;
  margin-bottom: 60px;
  text-align: center;
  margin-bottom: 30px;
}

.test__container .question_container {
  margin: 10px 0 30px 0;
  width: 70%;
}

.test__container .question_container p {
  color: rgba(222, 222, 222, 0.89);
  font-size: 18px;
}

.test__container .question_container img {
  margin-top: 20px;
  width: 100%;
  border-radius: 20px;
}

.test__container .button {
  width: auto;
}

.q_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.q_cont .number_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 26px;
}

.q_cont .number_container p {
  font-size: 20px;
  color: rgba(222, 222, 222, 0.89);
  letter-spacing: -1px;
  line-height: 25px;
  font-weight: lighter;
}

.q_cont .question {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 32px 26px;
  background-color: #212121;
  border-radius: 30px;
}

.q_cont .question h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: lighter;
  margin-bottom: 60px;
  text-align: left;
  font-size: 20px;
  margin-bottom: 0;
}

.q_cont .question .radio_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  color: rgba(222, 222, 222, 0.89);
}

.q_cont .question .radio_cont input {
  position: absolute;
  opacity: 0;
  сursor: pointer;
}

.q_cont .question .radio_cont label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.q_cont .question .radio_cont span {
  border: 1px solid rgba(222, 222, 222, 0.89);
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgba(222, 222, 222, 0.89);
  border-radius: 50%;
}

.q_cont .question .radio_cont label input:checked ~ span {
  background-color: #82ED2E;
}

.q_cont .question .radio_cont span:after {
  content: "";
  position: absolute;
  display: none;
}

.q_cont .question .radio_cont label input:checked ~ span:after {
  display: block;
}
/*# sourceMappingURL=Account.css.map */